{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://opsworks-cm.amazonaws.com/"
        },
        {
            "url": "http://opsworks-cm.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>AWS OpsWorks CM</fullname> <p>AWS OpsWorks for configuration management (CM) is a service that runs and manages configuration management servers. You can use AWS OpsWorks CM to create and manage AWS OpsWorks for Chef Automate and AWS OpsWorks for Puppet Enterprise servers, and add or remove nodes for the servers to manage.</p> <p> <b>Glossary of terms</b> </p> <ul> <li> <p> <b>Server</b>: A configuration management server that can be highly-available. The configuration management server runs on an Amazon Elastic Compute Cloud (EC2) instance, and may use various other AWS services, such as Amazon Relational Database Service (RDS) and Elastic Load Balancing. A server is a generic abstraction over the configuration manager that you want to use, much like Amazon RDS. In AWS OpsWorks CM, you do not start or stop servers. After you create servers, they continue to run until they are deleted.</p> </li> <li> <p> <b>Engine</b>: The engine is the specific configuration manager that you want to use. Valid values in this release include <code>Chef</code> and <code>Puppet</code>.</p> </li> <li> <p> <b>Backup</b>: This is an application-level backup of the data that the configuration manager stores. AWS OpsWorks CM creates an S3 bucket for backups when you launch the first server. A backup maintains a snapshot of a server's configuration-related attributes at the time the backup starts.</p> </li> <li> <p> <b>Events</b>: Events are always related to a server. Events are written during server creation, when health checks run, when backups are created, when system maintenance is performed, etc. When you delete a server, the server's events are also deleted.</p> </li> <li> <p> <b>Account attributes</b>: Every account has attributes that are assigned in the AWS OpsWorks CM database. These attributes store information about configuration limits (servers, backups, etc.) and your customer account. </p> </li> </ul> <p> <b>Endpoints</b> </p> <p>AWS OpsWorks CM supports the following endpoints, all HTTPS. You must connect to one of the following endpoints. Your servers can only be accessed or managed within the endpoint in which they are created.</p> <ul> <li> <p>opsworks-cm.us-east-1.amazonaws.com</p> </li> <li> <p>opsworks-cm.us-east-2.amazonaws.com</p> </li> <li> <p>opsworks-cm.us-west-1.amazonaws.com</p> </li> <li> <p>opsworks-cm.us-west-2.amazonaws.com</p> </li> <li> <p>opsworks-cm.ap-northeast-1.amazonaws.com</p> </li> <li> <p>opsworks-cm.ap-southeast-1.amazonaws.com</p> </li> <li> <p>opsworks-cm.ap-southeast-2.amazonaws.com</p> </li> <li> <p>opsworks-cm.eu-central-1.amazonaws.com</p> </li> <li> <p>opsworks-cm.eu-west-1.amazonaws.com</p> </li> </ul> <p> <b>Throttling limits</b> </p> <p>All API operations allow for five requests per second with a burst of 10 requests per second.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS OpsWorks for Chef Automate",
        "version": "2016-11-01",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/opsworkscm-2016-11-01.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "opsworkscm"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/opsworks-cm/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p> Associates a new node with the server. For more information about how to disassociate a node, see <a>DisassociateNode</a>.</p> <p> On a Chef server: This command is an alternative to <code>knife bootstrap</code>.</p> <p> Example (Chef): <code>aws opsworks-cm associate-node --server-name <i>MyServer</i> --node-name <i>MyManagedNode</i> --engine-attributes \"Name=<i>CHEF_ORGANIZATION</i>,Value=default\" \"Name=<i>CHEF_NODE_PUBLIC_KEY</i>,Value=<i>public-key-pem</i>\"</code> </p> <p> On a Puppet server, this command is an alternative to the <code>puppet cert sign</code> command that signs a Puppet node CSR. </p> <p> Example (Chef): <code>aws opsworks-cm associate-node --server-name <i>MyServer</i> --node-name <i>MyManagedNode</i> --engine-attributes \"Name=<i>PUPPET_NODE_CSR</i>,Value=<i>csr-pem</i>\"</code> </p> <p> A node can can only be associated with servers that are in a <code>HEALTHY</code> state. Otherwise, an <code>InvalidStateException</code> is thrown. A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. The AssociateNode API call can be integrated into Auto Scaling configurations, AWS Cloudformation templates, or the user data of a server's instance. </p>",
                "operationId": "AssociateNode",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "NodeAssociationStatusToken": {
                                            "description": "Contains a token which can be passed to the <code>DescribeNodeAssociationStatus</code> API call to get the status of the association request. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidStateException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "EngineAttributes": {
                                        "description": "<p>Engine attributes used for associating the node. </p> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Chef</b> </p> <ul> <li> <p> <code>CHEF_ORGANIZATION</code>: The Chef organization with which the node is associated. By default only one organization named <code>default</code> can exist. </p> </li> <li> <p> <code>CHEF_NODE_PUBLIC_KEY</code>: A PEM-formatted public key. This key is required for the <code>chef-client</code> agent to access the Chef API. </p> </li> </ul> <p class=\"title\"> <b>Attributes accepted in a AssociateNode request for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_NODE_CSR</code>: A PEM-formatted certificate-signing request (CSR) that is created by the node. </p> </li> </ul>",
                                        "items": {
                                            "description": "A name and value pair that is specific to the engine of the server. ",
                                            "properties": {
                                                "Name": {
                                                    "description": "The name of the engine attribute. ",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The value of the engine attribute. ",
                                                    "format": "password",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "NodeName": {
                                        "description": "The name of the node. ",
                                        "pattern": "^[\\-\\p{Alnum}_:.]+$",
                                        "type": "string"
                                    },
                                    "ServerName": {
                                        "description": "The name of the server with which to associate the node. ",
                                        "maxLength": 40,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z][a-zA-Z0-9\\-]*",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ServerName",
                                    "NodeName",
                                    "EngineAttributes"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateBackup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p> Creates an application-level backup of a server. While the server is in the <code>BACKING_UP</code> state, the server cannot be changed, and no additional backup can be created. </p> <p> Backups can be created for servers in <code>RUNNING</code>, <code>HEALTHY</code>, and <code>UNHEALTHY</code> states. By default, you can create a maximum of 50 manual backups. </p> <p> This operation is asynchronous. </p> <p> A <code>LimitExceededException</code> is thrown when the maximum number of manual backups is reached. An <code>InvalidStateException</code> is thrown when the server is not in any of the following states: RUNNING, HEALTHY, or UNHEALTHY. A <code>ResourceNotFoundException</code> is thrown when the server is not found. A <code>ValidationException</code> is thrown when parameters of the request are not valid. </p>",
                "operationId": "CreateBackup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Backup": {
                                            "description": "Backup created by request.",
                                            "properties": {
                                                "BackupArn": {
                                                    "description": "The ARN of the backup. ",
                                                    "type": "string"
                                                },
                                                "BackupId": {
                                                    "description": " The generated ID of the backup. Example: <code>myServerName-yyyyMMddHHmmssSSS</code> ",
                                                    "maxLength": 79,
                                                    "type": "string"
                                                },
                                                "BackupType": {
                                                    "description": " The backup type. Valid values are <code>automated</code> or <code>manual</code>. ",
                                                    "enum": [
                                                        "AUTOMATED",
                                                        "MANUAL"
                                                    ],
                                                    "type": "string"
                                                },
                                                "CreatedAt": {
                                                    "description": " The time stamp when the backup was created in the database. Example: <code>2016-07-29T13:38:47.520Z</code> ",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "description": " A user-provided description for a manual backup. This field is empty for automated backups. ",
                                                    "type": "string"
                                                },
                                                "Engine": {
                                                    "description": " The engine type that is obtained from the server when the backup is created. ",
                                                    "type": "string"
                                                },
                                                "EngineModel": {
                                                    "description": " The engine model that is obtained from the server when the backup is created. ",
                                                    "type": "string"
                                                },
                                                "EngineVersion": {
                                                    "description": " The engine version that is obtained from the server when the backup is created. ",
                                                    "type": "string"
                                                },
                                                "InstanceProfileArn": {
                                                    "description": " The EC2 instance profile ARN that is obtained from the server when the backup is created. Because this value is stored, you are not required to provide the InstanceProfileArn again if you restore a backup. ",
                                                    "type": "string"
                                                },
                                                "InstanceType": {
                                                    "description": " The instance type that is obtained from the server when the backup is created. ",
                                                    "type": "string"
                                                },
                                                "KeyPair": {
                                                    "description": " The key pair that is obtained from the server when the backup is created. ",
                                                    "type": "string"
                                                },
                                                "PreferredBackupWindow": {
                                                    "description": " The preferred backup period that is obtained from the server when the backup is created. ",
                                                    "pattern": "^((Mon|Tue|Wed|Thu|Fri|Sat|Sun):)?([0-1][0-9]|2[0-3]):[0-5][0-9]$",
                                                    "type": "string"
                                                },
                                                "PreferredMaintenanceWindow": {
                                                    "description": " The preferred maintenance period that is obtained from the server when the backup is created. ",
                                                    "pattern": "^((Mon|Tue|Wed|Thu|Fri|Sat|Sun):)?([0-1][0-9]|2[0-3]):[0-5][0-9]$",
                                                    "type": "string"
                                                },
                                                "S3DataSize": {
                                                    "description": " This field is deprecated and is no longer used. ",
                                                    "type": "integer"
                                                },
                                                "S3DataUrl": {
                                                    "description": " This field is deprecated and is no longer used. ",
                                                    "type": "string"
                                                },
                                                "S3LogUrl": {
                                                    "description": " The Amazon S3 URL of the backup's log file. ",
                                                    "type": "string"
                                                },
                                                "SecurityGroupIds": {
                                                    "description": " The security group IDs that are obtained from the server when the backup is created. ",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "ServerName": {
                                                    "description": " The name of the server from which the backup was made. ",
                                                    "maxLength": 40,
                                                    "minLength": 1,
                                                    "pattern": "[a-zA-Z][a-zA-Z0-9\\-]*",
                                                    "type": "string"
                                                },
                                                "ServiceRoleArn": {
                                                    "description": " The service role ARN that is obtained from the server when the backup is created. ",
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "description": "The status of a backup while in progress. ",
                                                    "enum": [
                                                        "IN_PROGRESS",
                                                        "OK",
                                                        "FAILED",
                                                        "DELETING"
                                                    ],
                                                    "type": "string"
                                                },
                                                "StatusDescription": {
                                                    "description": " An informational message about backup status. ",
                                                    "type": "string"
                                                },
                                                "SubnetIds": {
                                                    "description": " The subnet IDs that are obtained from the server when the backup is created. ",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "ToolsVersion": {
                                                    "description": " The version of AWS OpsWorks CM-specific tools that is obtained from the server when the backup is created. ",
                                                    "type": "string"
                                                },
                                                "UserArn": {
                                                    "description": " The IAM user ARN of the requester for manual backups. This field is empty for automated backups. ",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidStateException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Description": {
                                        "description": " A user-defined description of the backup. ",
                                        "type": "string"
                                    },
                                    "ServerName": {
                                        "description": "The name of the server that you want to back up. ",
                                        "maxLength": 40,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z][a-zA-Z0-9\\-]*",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ServerName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateServer": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p> Creates and immedately starts a new server. The server is ready to use when it is in the <code>HEALTHY</code> state. By default, you can create a maximum of 10 servers. </p> <p> This operation is asynchronous. </p> <p> A <code>LimitExceededException</code> is thrown when you have created the maximum number of servers (10). A <code>ResourceAlreadyExistsException</code> is thrown when a server with the same name already exists in the account. A <code>ResourceNotFoundException</code> is thrown when you specify a backup ID that is not valid or is for a backup that does not exist. A <code>ValidationException</code> is thrown when parameters of the request are not valid. </p> <p> If you do not specify a security group by adding the <code>SecurityGroupIds</code> parameter, AWS OpsWorks creates a new security group. </p> <p> <i>Chef Automate:</i> The default security group opens the Chef server to the world on TCP port 443. If a KeyName is present, AWS OpsWorks enables SSH access. SSH is also open to the world on TCP port 22. </p> <p> <i>Puppet Enterprise:</i> The default security group opens TCP ports 22, 443, 4433, 8140, 8142, 8143, and 8170. If a KeyName is present, AWS OpsWorks enables SSH access. SSH is also open to the world on TCP port 22. </p> <p>By default, your server is accessible from any IP address. We recommend that you update your security group rules to allow access from known IP addresses and address ranges only. To edit security group rules, open Security Groups in the navigation pane of the EC2 management console. </p>",
                "operationId": "CreateServer",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Server": {
                                            "description": "The server that is created by the request. ",
                                            "properties": {
                                                "AssociatePublicIpAddress": {
                                                    "description": "Associate a public IP address with a server that you are launching. ",
                                                    "type": "boolean"
                                                },
                                                "BackupRetentionCount": {
                                                    "description": "The number of automated backups to keep. ",
                                                    "type": "integer"
                                                },
                                                "CloudFormationStackArn": {
                                                    "description": "The ARN of the CloudFormation stack that was used to create the server. ",
                                                    "type": "string"
                                                },
                                                "CreatedAt": {
                                                    "description": "Time stamp of server creation. Example <code>2016-07-29T13:38:47.520Z</code> ",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "DisableAutomatedBackup": {
                                                    "description": "Disables automated backups. The number of stored backups is dependent on the value of PreferredBackupCount. ",
                                                    "type": "boolean"
                                                },
                                                "Endpoint": {
                                                    "description": " A DNS name that can be used to access the engine. Example: <code>myserver-asdfghjkl.us-east-1.opsworks.io</code> ",
                                                    "type": "string"
                                                },
                                                "Engine": {
                                                    "description": "The engine type of the server. Valid values in this release include <code>Chef</code> and <code>Puppet</code>. ",
                                                    "type": "string"
                                                },
                                                "EngineAttributes": {
                                                    "description": "<p>The response of a createServer() request returns the master credential to access the server in EngineAttributes. These credentials are not stored by AWS OpsWorks CM; they are returned only as part of the result of createServer(). </p> <p class=\"title\"> <b>Attributes returned in a createServer response for Chef</b> </p> <ul> <li> <p> <code>CHEF_PIVOTAL_KEY</code>: A base64-encoded RSA private key that is generated by AWS OpsWorks for Chef Automate. This private key is required to access the Chef API.</p> </li> <li> <p> <code>CHEF_STARTER_KIT</code>: A base64-encoded ZIP file. The ZIP file contains a Chef starter kit, which includes a README, a configuration file, and the required RSA private key. Save this file, unzip it, and then change to the directory where you've unzipped the file contents. From this directory, you can run Knife commands.</p> </li> </ul> <p class=\"title\"> <b>Attributes returned in a createServer response for Puppet</b> </p> <ul> <li> <p> <code>PUPPET_STARTER_KIT</code>: A base64-encoded ZIP file. The ZIP file contains a Puppet starter kit, including a README and a required private key. Save this file, unzip it, and then change to the directory where you've unzipped the file contents.</p> </li> <li> <p> <code>PUPPET_ADMIN_PASSWORD</code>: An administrator password that you can use to sign in to the Puppet Enterprise console after the server is online.</p> </li> </ul>",
                                                    "items": {
                                                        "description": "A name and value pair that is specific to the engine of the server. ",
                                                        "properties": {
                                                            "Name": {
                                                                "description": "The name of the engine attribute. ",
                                                                "type": "string"
                                                            },
                                                            "Value": {
                                                                "description": "The value of the engine attribute. ",
                                                                "format": "password",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "EngineModel": {
                                                    "description": "The engine model of the server. Valid values in this release include <code>Monolithic</code> for Puppet and <code>Single</code> for Chef. ",
                                                    "type": "string"
                                                },
                                                "EngineVersion": {
                                                    "description": "The engine version of the server. For a Chef server, the valid value for EngineVersion is currently <code>12</code>. For a Puppet server, the valid value is <code>2017</code>. ",
                                                    "type": "string"
                                                },
                                                "InstanceProfileArn": {
                                                    "description": "The instance profile ARN of the server. ",
                                                    "type": "string"
                                                },
                                                "InstanceType": {
                                                    "description": " The instance type for the server, as specified in the CloudFormation stack. This might not be the same instance type that is shown in the EC2 console. ",
                                                    "type": "string"
                                                },
                                                "KeyPair": {
                                                    "description": "The key pair associated with the server. ",
                                                    "type": "string"
                                                },
                                                "MaintenanceStatus": {
                                                    "description": "The status of the most recent server maintenance run. Shows <code>SUCCESS</code> or <code>FAILED</code>. ",
                                                    "enum": [
                                                        "SUCCESS",
                                                        "FAILED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "PreferredBackupWindow": {
                                                    "description": "The preferred backup period specified for the server. ",
                                                    "pattern": "^((Mon|Tue|Wed|Thu|Fri|Sat|Sun):)?([0-1][0-9]|2[0-3]):[0-5][0-9]$",
                                                    "type": "string"
                                                },
                                                "PreferredMaintenanceWindow": {
                                                    "description": "The preferred maintenance period specified for the server. ",
                                                    "pattern": "^((Mon|Tue|Wed|Thu|Fri|Sat|Sun):)?([0-1][0-9]|2[0-3]):[0-5][0-9]$",
                                                    "type": "string"
                                                },
                                                "SecurityGroupIds": {
                                                    "description": " The security group IDs for the server, as specified in the CloudFormation stack. These might not be the same security groups that are shown in the EC2 console. ",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "ServerArn": {
                                                    "description": "The ARN of the server. ",
                                                    "type": "string"
                                                },
                                                "ServerName": {
                                                    "description": "The name of the server. ",
                                                    "type": "string"
                                                },
                                                "ServiceRoleArn": {
                                                    "description": "The service role ARN used to create the server. ",
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "description": " The server's status. This field displays the states of actions in progress, such as creating, running, or backing up the server, as well as the server's health state. ",
                                                    "enum": [
                                                        "BACKING_UP",
                                                        "CONNECTION_LOST",
                                                        "CREATING",
                                                        "DELETING",
                                                        "MODIFYING",
                                                        "FAILED",
                                                        "HEALTHY",
                                                        "RUNNING",
                                                        "RESTORING",
                                                        "SETUP",
                                                        "UNDER_MAINTENANCE",
                                                        "UNHEALTHY",
                                                        "TERMINATED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "StatusReason": {
                                                    "description": " Depending on the server status, this field has either a human-readable message (such as a create or backup error), or an escaped block of JSON (used for health check results). ",
                                                    "type": "string"
                                                },
                                                "SubnetIds": {
                                                    "description": " The subnet IDs specified in a CreateServer request. ",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceAlreadyExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AssociatePublicIpAddress": {
                                        "description": " Associate a public IP address with a server that you are launching. Valid values are <code>true</code> or <code>false</code>. The default value is <code>true</code>. ",
                                        "type": "boolean"
                                    },
                                    "BackupId": {
                                        "description": " If you specify this field, AWS OpsWorks CM creates the server by using the backup represented by BackupId. ",
                                        "maxLength": 79,
                                        "type": "string"
                                    },
                                    "BackupRetentionCount": {
                                        "description": " The number of automated backups that you want to keep. Whenever a new backup is created, AWS OpsWorks CM deletes the oldest backups if this number is exceeded. The default value is <code>1</code>. ",
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "DisableAutomatedBackup": {
                                        "description": " Enable or disable scheduled backups. Valid values are <code>true</code> or <code>false</code>. The default value is <code>true</code>. ",
                                        "type": "boolean"
                                    },
                                    "Engine": {
                                        "description": " The configuration management engine to use. Valid values include <code>Chef</code> and <code>Puppet</code>. ",
                                        "type": "string"
                                    },
                                    "EngineAttributes": {
                                        "description": "<p>Optional engine attributes on a specified server. </p> <p class=\"title\"> <b>Attributes accepted in a Chef createServer request:</b> </p> <ul> <li> <p> <code>CHEF_PIVOTAL_KEY</code>: A base64-encoded RSA public key. The corresponding private key is required to access the Chef API. When no CHEF_PIVOTAL_KEY is set, a private key is generated and returned in the response. </p> </li> <li> <p> <code>CHEF_DELIVERY_ADMIN_PASSWORD</code>: The password for the administrative user in the Chef Automate GUI. The password length is a minimum of eight characters, and a maximum of 32. The password can contain letters, numbers, and special characters (!/@#$%^&amp;+=_). The password must contain at least one lower case letter, one upper case letter, one number, and one special character. When no CHEF_DELIVERY_ADMIN_PASSWORD is set, one is generated and returned in the response.</p> </li> </ul> <p class=\"title\"> <b>Attributes accepted in a Puppet createServer request:</b> </p> <ul> <li> <p> <code>PUPPET_ADMIN_PASSWORD</code>: To work with the Puppet Enterprise console, a password must use ASCII characters.</p> </li> <li> <p> <code>PUPPET_R10K_REMOTE</code>: The r10k remote is the URL of your control repository (for example, ssh://git@your.git-repo.com:user/control-repo.git). Specifying an r10k remote opens TCP port 8170.</p> </li> <li> <p> <code>PUPPET_R10K_PRIVATE_KEY</code>: If you are using a private Git repository, add PUPPET_R10K_PRIVATE_KEY to specify an SSH URL and a PEM-encoded private SSH key.</p> </li> </ul>",
                                        "items": {
                                            "description": "A name and value pair that is specific to the engine of the server. ",
                                            "properties": {
                                                "Name": {
                                                    "description": "The name of the engine attribute. ",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The value of the engine attribute. ",
                                                    "format": "password",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "EngineModel": {
                                        "description": " The engine model of the server. Valid values in this release include <code>Monolithic</code> for Puppet and <code>Single</code> for Chef. ",
                                        "type": "string"
                                    },
                                    "EngineVersion": {
                                        "description": " The major release version of the engine that you want to use. For a Chef server, the valid value for EngineVersion is currently <code>12</code>. For a Puppet server, the valid value is <code>2017</code>. ",
                                        "type": "string"
                                    },
                                    "InstanceProfileArn": {
                                        "description": " The ARN of the instance profile that your Amazon EC2 instances use. Although the AWS OpsWorks console typically creates the instance profile for you, if you are using API commands instead, run the service-role-creation.yaml AWS CloudFormation template, located at https://s3.amazonaws.com/opsworks-cm-us-east-1-prod-default-assets/misc/opsworks-cm-roles.yaml. This template creates a CloudFormation stack that includes the instance profile you need. ",
                                        "pattern": "arn:aws:iam::[0-9]{12}:instance-profile/.*",
                                        "type": "string"
                                    },
                                    "InstanceType": {
                                        "description": " The Amazon EC2 instance type to use. For example, <code>m4.large</code>. Recommended instance types include <code>t2.medium</code> and greater, <code>m4.*</code>, or <code>c4.xlarge</code> and greater. ",
                                        "type": "string"
                                    },
                                    "KeyPair": {
                                        "description": " The Amazon EC2 key pair to set for the instance. This parameter is optional; if desired, you may specify this parameter to connect to your instances by using SSH. ",
                                        "type": "string"
                                    },
                                    "PreferredBackupWindow": {
                                        "description": "<p> The start time for a one-hour period during which AWS OpsWorks CM backs up application-level data on your server if automated backups are enabled. Valid values must be specified in one of the following formats: </p> <ul> <li> <p> <code>HH:MM</code> for daily backups</p> </li> <li> <p> <code>DDD:HH:MM</code> for weekly backups</p> </li> </ul> <p>The specified time is in coordinated universal time (UTC). The default value is a random, daily start time.</p> <p> <b>Example:</b> <code>08:00</code>, which represents a daily start time of 08:00 UTC.</p> <p> <b>Example:</b> <code>Mon:08:00</code>, which represents a start time of every Monday at 08:00 UTC. (8:00 a.m.)</p>",
                                        "pattern": "^((Mon|Tue|Wed|Thu|Fri|Sat|Sun):)?([0-1][0-9]|2[0-3]):[0-5][0-9]$",
                                        "type": "string"
                                    },
                                    "PreferredMaintenanceWindow": {
                                        "description": "<p> The start time for a one-hour period each week during which AWS OpsWorks CM performs maintenance on the instance. Valid values must be specified in the following format: <code>DDD:HH:MM</code>. The specified time is in coordinated universal time (UTC). The default value is a random one-hour period on Tuesday, Wednesday, or Friday. See <code>TimeWindowDefinition</code> for more information. </p> <p> <b>Example:</b> <code>Mon:08:00</code>, which represents a start time of every Monday at 08:00 UTC. (8:00 a.m.) </p>",
                                        "pattern": "^((Mon|Tue|Wed|Thu|Fri|Sat|Sun):)?([0-1][0-9]|2[0-3]):[0-5][0-9]$",
                                        "type": "string"
                                    },
                                    "SecurityGroupIds": {
                                        "description": "<p> A list of security group IDs to attach to the Amazon EC2 instance. If you add this parameter, the specified security groups must be within the VPC that is specified by <code>SubnetIds</code>. </p> <p> If you do not specify this parameter, AWS OpsWorks CM creates one new security group that uses TCP ports 22 and 443, open to 0.0.0.0/0 (everyone). </p>",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "ServerName": {
                                        "description": " The name of the server. The server name must be unique within your AWS account, within each region. Server names must start with a letter; then letters, numbers, or hyphens (-) are allowed, up to a maximum of 40 characters. ",
                                        "maxLength": 40,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z][a-zA-Z0-9\\-]*",
                                        "type": "string"
                                    },
                                    "ServiceRoleArn": {
                                        "description": " The service role that the AWS OpsWorks CM service backend uses to work with your account. Although the AWS OpsWorks management console typically creates the service role for you, if you are using the AWS CLI or API commands, run the service-role-creation.yaml AWS CloudFormation template, located at https://s3.amazonaws.com/opsworks-cm-us-east-1-prod-default-assets/misc/opsworks-cm-roles.yaml. This template creates a CloudFormation stack that includes the service role and instance profile that you need. ",
                                        "pattern": "arn:aws:iam::[0-9]{12}:role/.*",
                                        "type": "string"
                                    },
                                    "SubnetIds": {
                                        "description": "<p> The IDs of subnets in which to launch the server EC2 instance. </p> <p> Amazon EC2-Classic customers: This field is required. All servers must run within a VPC. The VPC must have \"Auto Assign Public IP\" enabled. </p> <p> EC2-VPC customers: This field is optional. If you do not specify subnet IDs, your EC2 instances are created in a default subnet that is selected by Amazon EC2. If you specify subnet IDs, the VPC must have \"Auto Assign Public IP\" enabled. </p> <p>For more information about supported Amazon EC2 platforms, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-supported-platforms.html\">Supported Platforms</a>.</p>",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "ServerName",
                                    "InstanceProfileArn",
                                    "InstanceType",
                                    "ServiceRoleArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteBackup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p> Deletes a backup. You can delete both manual and automated backups. This operation is asynchronous. </p> <p> An <code>InvalidStateException</code> is thrown when a backup deletion is already in progress. A <code>ResourceNotFoundException</code> is thrown when the backup does not exist. A <code>ValidationException</code> is thrown when parameters of the request are not valid. </p>",
                "operationId": "DeleteBackup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidStateException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "BackupId": {
                                        "description": "The ID of the backup to delete. Run the DescribeBackups command to get a list of backup IDs. Backup IDs are in the format <code>ServerName-yyyyMMddHHmmssSSS</code>. ",
                                        "maxLength": 79,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "BackupId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteServer": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p> Deletes the server and the underlying AWS CloudFormation stacks (including the server's EC2 instance). When you run this command, the server state is updated to <code>DELETING</code>. After the server is deleted, it is no longer returned by <code>DescribeServer</code> requests. If the AWS CloudFormation stack cannot be deleted, the server cannot be deleted. </p> <p> This operation is asynchronous. </p> <p> An <code>InvalidStateException</code> is thrown when a server deletion is already in progress. A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p> <p> </p>",
                "operationId": "DeleteServer",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidStateException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ServerName": {
                                        "description": "The ID of the server to delete.",
                                        "maxLength": 40,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z][a-zA-Z0-9\\-]*",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ServerName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeAccountAttributes": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p> Describes your account attributes, and creates requests to increase limits before they are reached or exceeded. </p> <p> This operation is synchronous. </p>",
                "operationId": "DescribeAccountAttributes",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Attributes": {
                                            "description": " The attributes that are currently set for the account. ",
                                            "items": {
                                                "description": "Stores account attributes. ",
                                                "properties": {
                                                    "Maximum": {
                                                        "description": " The maximum allowed value. ",
                                                        "type": "integer"
                                                    },
                                                    "Name": {
                                                        "description": "<p> The attribute name. The following are supported attribute names. </p> <ul> <li> <p> <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a maximum of 10 servers. </p> </li> <li> <p> <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, you can have a maximum of 50 manual backups saved. </p> </li> </ul>",
                                                        "type": "string"
                                                    },
                                                    "Used": {
                                                        "description": " The current usage, such as the current number of servers that are associated with the account. ",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeBackups": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p> Describes backups. The results are ordered by time, with newest backups first. If you do not specify a BackupId or ServerName, the command returns all backups. </p> <p> This operation is synchronous. </p> <p> A <code>ResourceNotFoundException</code> is thrown when the backup does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p>",
                "operationId": "DescribeBackups",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Backups": {
                                            "description": "Contains the response to a <code>DescribeBackups</code> request. ",
                                            "items": {
                                                "description": "Describes a single backup. ",
                                                "properties": {
                                                    "BackupArn": {
                                                        "description": "The ARN of the backup. ",
                                                        "type": "string"
                                                    },
                                                    "BackupId": {
                                                        "description": " The generated ID of the backup. Example: <code>myServerName-yyyyMMddHHmmssSSS</code> ",
                                                        "maxLength": 79,
                                                        "type": "string"
                                                    },
                                                    "BackupType": {
                                                        "description": " The backup type. Valid values are <code>automated</code> or <code>manual</code>. ",
                                                        "enum": [
                                                            "AUTOMATED",
                                                            "MANUAL"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "CreatedAt": {
                                                        "description": " The time stamp when the backup was created in the database. Example: <code>2016-07-29T13:38:47.520Z</code> ",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "Description": {
                                                        "description": " A user-provided description for a manual backup. This field is empty for automated backups. ",
                                                        "type": "string"
                                                    },
                                                    "Engine": {
                                                        "description": " The engine type that is obtained from the server when the backup is created. ",
                                                        "type": "string"
                                                    },
                                                    "EngineModel": {
                                                        "description": " The engine model that is obtained from the server when the backup is created. ",
                                                        "type": "string"
                                                    },
                                                    "EngineVersion": {
                                                        "description": " The engine version that is obtained from the server when the backup is created. ",
                                                        "type": "string"
                                                    },
                                                    "InstanceProfileArn": {
                                                        "description": " The EC2 instance profile ARN that is obtained from the server when the backup is created. Because this value is stored, you are not required to provide the InstanceProfileArn again if you restore a backup. ",
                                                        "type": "string"
                                                    },
                                                    "InstanceType": {
                                                        "description": " The instance type that is obtained from the server when the backup is created. ",
                                                        "type": "string"
                                                    },
                                                    "KeyPair": {
                                                        "description": " The key pair that is obtained from the server when the backup is created. ",
                                                        "type": "string"
                                                    },
                                                    "PreferredBackupWindow": {
                                                        "description": " The preferred backup period that is obtained from the server when the backup is created. ",
                                                        "pattern": "^((Mon|Tue|Wed|Thu|Fri|Sat|Sun):)?([0-1][0-9]|2[0-3]):[0-5][0-9]$",
                                                        "type": "string"
                                                    },
                                                    "PreferredMaintenanceWindow": {
                                                        "description": " The preferred maintenance period that is obtained from the server when the backup is created. ",
                                                        "pattern": "^((Mon|Tue|Wed|Thu|Fri|Sat|Sun):)?([0-1][0-9]|2[0-3]):[0-5][0-9]$",
                                                        "type": "string"
                                                    },
                                                    "S3DataSize": {
                                                        "description": " This field is deprecated and is no longer used. ",
                                                        "type": "integer"
                                                    },
                                                    "S3DataUrl": {
                                                        "description": " This field is deprecated and is no longer used. ",
                                                        "type": "string"
                                                    },
                                                    "S3LogUrl": {
                                                        "description": " The Amazon S3 URL of the backup's log file. ",
                                                        "type": "string"
                                                    },
                                                    "SecurityGroupIds": {
                                                        "description": " The security group IDs that are obtained from the server when the backup is created. ",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "ServerName": {
                                                        "description": " The name of the server from which the backup was made. ",
                                                        "maxLength": 40,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z][a-zA-Z0-9\\-]*",
                                                        "type": "string"
                                                    },
                                                    "ServiceRoleArn": {
                                                        "description": " The service role ARN that is obtained from the server when the backup is created. ",
                                                        "type": "string"
                                                    },
                                                    "Status": {
                                                        "description": "The status of a backup while in progress. ",
                                                        "enum": [
                                                            "IN_PROGRESS",
                                                            "OK",
                                                            "FAILED",
                                                            "DELETING"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "StatusDescription": {
                                                        "description": " An informational message about backup status. ",
                                                        "type": "string"
                                                    },
                                                    "SubnetIds": {
                                                        "description": " The subnet IDs that are obtained from the server when the backup is created. ",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "ToolsVersion": {
                                                        "description": " The version of AWS OpsWorks CM-specific tools that is obtained from the server when the backup is created. ",
                                                        "type": "string"
                                                    },
                                                    "UserArn": {
                                                        "description": " The IAM user ARN of the requester for manual backups. This field is empty for automated backups. ",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "This is not currently implemented for <code>DescribeBackups</code> requests.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidNextTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "BackupId": {
                                        "description": "Describes a single backup. ",
                                        "maxLength": 79,
                                        "type": "string"
                                    },
                                    "MaxResults": {
                                        "description": "This is not currently implemented for <code>DescribeBackups</code> requests.",
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "NextToken": {
                                        "description": "This is not currently implemented for <code>DescribeBackups</code> requests.",
                                        "type": "string"
                                    },
                                    "ServerName": {
                                        "description": "Returns backups for the server with the specified ServerName. ",
                                        "maxLength": 40,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z][a-zA-Z0-9\\-]*",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeEvents": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p> Describes events for a specified server. Results are ordered by time, with newest events first. </p> <p> This operation is synchronous. </p> <p> A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid. </p>",
                "operationId": "DescribeEvents",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "NextToken": {
                                            "description": "NextToken is a string that is returned in some command responses. It indicates that not all entries have been returned, and that you must run at least one more request to get remaining items. To get remaining results, call <code>DescribeEvents</code> again, and assign the token from the previous results as the value of the <code>nextToken</code> parameter. If there are no more results, the response object's <code>nextToken</code> parameter value is <code>null</code>. Setting a <code>nextToken</code> value that was not returned in your previous results causes an <code>InvalidNextTokenException</code> to occur. ",
                                            "type": "string"
                                        },
                                        "ServerEvents": {
                                            "description": "Contains the response to a <code>DescribeEvents</code> request. ",
                                            "items": {
                                                "description": "An event that is related to the server, such as the start of maintenance or backup. ",
                                                "properties": {
                                                    "CreatedAt": {
                                                        "description": "The time when the event occurred. ",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "LogUrl": {
[...]
